#missionSelect {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none;
    margin-bottom: 20px;
    display: block;
    margin: 10px auto;
  }
  
  #missionSelect option {
    background-color: #fff;
    color: #333;
  }
  
  #main7 {
    width: 80%;
    height: 400px;
    margin: 0 auto;
  }