#missionSelect {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none;
  }
  
  #missionSelect option {
    background-color: #fff;
    color: #333;
  }
  